.Box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    width: 200px;
    padding-bottom: 10px;
    background-color: #86BBD8;
    margin: 20px;
    animation: bounce 0.1s ease-in-out;
    animation-play-state: paused;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.Box:hover {
    background-color: white;
    transform: scale(105%);
}

button {
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #9EE493;
    color: #2F4858;
    font-family: "Pixelify Sans", Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

button:hover {
    font-weight: bold;
}

img {
    position: relative;
    width: 150px;
    border-radius: 10px;
    left: 25px;
}

p {
    color: #2F4858;
    font-family: "Pixelify Sans", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.1em;
}